<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/design.css" media="all" />
    <title>About Page</title>
</head>
<body style="text-align: center; background-color: rgb(51, 51, 51); color: white;">
    <ul>
        <li><a  href="/" >Home</a></li>
        <li><a href="#about" style="background-color: aqua;">About</a></li>
        <li><a href="https://www.instagram.com/utalmighty/"><img src="static/images/instagram.svg" aria-label="Utkarsh's Instagram"></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100008202574581"><img src="static/images/facebook.svg" aria-label="Utkarsh's Facebook"></a></li>
        <li><a href="https://github.com/utalmighty/Video-Conf"><img src="static/images/github.png" style="width: 31px; height: 31px;" aria-label="Source Code"></a></li>
      </ul>
      <h4 style="padding: 10px; color: white;">About</h4>
      <p>Web-app based Video Calling.</p>
      <p>This is project <b>"Huduk Video Call"</b>. Thanks for trying us. This app is developed with my team of four members.</p>
      <p>The sever side (back-end) is developed in Python with Flask Framework. </p>
      <p>The client-side is written in HTML, CSS, JS. The communication between the server and client-side is made by done by Web-Sockets.</p>   
      <h6>👉🏻Special-Huduks👈🏻</h6>
      <p><a href="https://www.instagram.com/utalmighty/">Utkarsh Jaiswal</a></p>
      <p><a href="https://www.instagram.com/stayaloof/">Anurag Nigam</a></p>
      <p><a href="https://www.instagram.com/vaibhav_gupta8242428/">Vaibhav Gupta</a></p>
      <p><a href="https://www.instagram.com/vaibhavpandey_07/">Vaibhav Pandey</a></p>
      <a>and more...</a><br>
      <b>Thank You, Enjoy HUDUK Co. 😉</b>
      <div style="position: fixed; bottom: 4px; right: 4px;">Made with ❤️ in INDIA.</div>
      <img src = "/static/images/python.jpg" style="position: fixed; bottom: 4px; left: 4px;" alt="Python Powered.">
</body>
</html>