<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/design.css" media="all" />
    <title>About Page</title>
</head>
<body style="text-align: center; background-color: rgb(51, 51, 51);">
    <ul>
        <li><a  href="/" >Home</a></li>
        <li><a href="#about" style="background-color: aqua;">About</a></li>
        <li><a href="https://www.instagram.com/utalmighty/"><img src="static/images/instagram.svg" aria-label="Utkarsh's Instagram"></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100008202574581"><img src="static/images/facebook.svg" aria-label="Utkarsh's Facebook"></a></li>
        <li><a href="https://github.com/utalmighty/Video-Conf"><img src="static/images/github.png" style="width: 31px; height: 31px;" aria-label="Source Code"></a></li>
      </ul>
      <h6 style="padding: 10px; color: white;">About</h6>
</body>
</html>